<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Battleship</title>
</head>

<body>
  <%- include('partials/_header') %>
 <div class="container">
   <div class="row">
     <div class="col">
       <h3 style="text-align: center;"><u>Previous moves</u></h3>
     </div>
    <div class= "col-6">
  <table class="table table-bordered" style="text-align: center; background-color: rgb(94, 183, 213); margin-top: 7%;">
    <thead style="background-color: darkgray;">
       <th scope="col">X</th>
       <th scope="col">A</th>
       <th scope="col">B</th>
       <th scope="col">C</th>
       <th scope="col">D</th>
       <th scope="col">E</th>
       <th scope="col">F</th>
       <th scope="col">G</th>
       <th scope="col">H</th>
    </thead>
    <tbody>
      <% for (let i = 1; i < 9; i++) { %>
      <tr>
        <% for (let j = 0; j < 9; j++) { %>
          <% if (j === 0) { %>
        <td style="background-color:darkgray;">
            <p><%= i %></p>
          </td>
        <%  } else { %>
          <td>
            
          </td>
          <% } %>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<div class="col" style="text-align: center;">
  <h3><u> Ships left</u></h3>  
</div>

</div> 
</div> 
     



   
<form method="GET" action="/game">
<button type="submit" class="btn btn-danger">Start Game</button>
</form>




 
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>  
</body>

